<h1>Add Todo</h1>
<form action="/todos" method="POST">
  <input type="text" name="title" placeholder="Enter todo title" required>
  <button type="submit">Add Todo</button>
</form>
<a href="/todos">Back to Todos</a>
